<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>Alpine.js Components</title>
</head>

<body class="bg-gray-100 p-8">
  <!-- Dropdown  -->
  <div x-data="{ open: false }">
    <button @click="open = !open"
      class="inline-flex items-center py-2 px-6 bg-purple-600 hover:bg-opacity-95 text-white rounded-md shadow">
      Toggle
      <i class="bi bi-chevron-right ml-2 transition-all" x-bind:class="{'rotate-90': open}"></i>
    </button>
    <ul x-show="open" @click.outside="open = false" x-transition class="absolute bg-white w-[160px] shadow-md py-1">
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Open
        </a>
      </li>
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Edit
        </a>
      </li>
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Delete
        </a>
      </li>
    </ul>
  </div>

  <!-- Modal  -->
  <div x-data="{
    open: false,
    accept() {
      console.log('accepted')
    }
  }">
    <button @click="open = true" class="py-2 px-6 bg-purple-600 hover:bg-opacity-95 text-white rounded-md shadow">
      Toggle Modal
    </button>
    <template x-teleport="body">
      <div x-show="open" class="fixed flex justify-center items-center left-0 top-0 bottom-0 right-0 z-10 bg-black/50">
        <div x-show="open" x-transition @click.outside="open = false" class="[w-90%] md:w-1/2 bg-white rounded-lg">
          <div class="py-2 px-4 text-lg font-semibold bg-gray-100 rounded-t-lg flex items-center justify-between">
            <h2>Modal Title</h2>
            <i class="bi bi-x-lg cursor-pointer" @click="open = false"></i>
          </div>
          <div class="p-4">Modal Content</div>
          <div class="py-2 px-4 text-lg flex justify-end font-semibold bg-gray-100 rounded-b-lg">
            <button @click="accept()"
              class="inline-flex items-center py-1 px-3 bg-emerald-500 hover:bg-opacity-95 text-white rounded-md shadow mr-2">
              Accept
            </button>
            <button @click="open = false"
              class="inline-flex items-center py-1 px-3 bg-gray-300 hover:bg-opacity-95 text-gray-800 rounded-md shadow">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </template>
  </div>

  <!-- Tabs  -->
  <div x-data="{
      tabs: ['Home', 'Users', 'Settings', 'Orders'],
      activeTab: 'Home'
    }">
    <div class="flex">
      <template x-for="tab in tabs">
        <a @click="activeTab = tab" x-text="tab" class="py-2 px-3 bg-white cursor-pointer border"
          x-bind:class="{'border-purple-500 text-blue-500' : activeTab === tab}"></a>
      </template>
    </div>
    <div class="py-2 px-3 bg-white border">
      <div x-show="activeTab === 'Home'">Home</div>
      <div x-show="activeTab === 'Users'">Users</div>
      <div x-show="activeTab === 'Settings'">Settings</div>
      <div x-show="activeTab === 'Orders'">Orders</div>
    </div>
  </div>

  <!-- Carousel  -->
  <div x-data="{
    images: ['../img/1.avif', '../img/3.jpg', '../img/4.avif'],
    activeImage: null,
    prev() {
      let activeImageIdx = this.images.indexOf(this.activeImage);
      if(activeImageIdx == 0) activeImageIdx = this.images.length;
      this.activeImage = this.images[activeImageIdx - 1];
      console.log(this.activeImage);
    },
    next() {
      let activeImageIdx = this.images.indexOf(this.activeImage);
      if(activeImageIdx == this.images.length - 1) activeImageIdx = -1;
      this.activeImage = this.images[activeImageIdx + 1];
    },
    init() {
      this.activeImage = this.images.length > 0 ? this.images[0] : null;
    }
  }">
    <div class="relative">
      <template x-for="image in images">
        <div x-show="activeImage === image" x-transition class="aspect-w-3 aspect-h-2">
          <img :src="image" alt="" class="object-cover">
        </div>
      </template>
      <a @click="prev()" class="cursor-pointer text-white absolute left-0 top-1/2 -translate-y-1/2">
        <i class="bi bi-chevron-left text-5xl"></i>
      </a>
      <a @click="next()" class="cursor-pointer text-white absolute right-0 top-1/2 -translate-y-1/2">
        <i class="bi bi-chevron-right text-5xl"></i>
      </a>
    </div>
    <div class="flex">
      <template x-for="image in images">
        <a @click="activeImage = image"
          class="cursor-pointer w-[80px] border border-gray-300 hover:border-purple-500 flex items-center justify-center"
          x-bind:class="{'border:purple-600': activeImage === image}">
          <img :src="image" alt="" class="object-cover">
        </a>
      </template>
    </div>
  </div>

  <!-- Accordion  -->
  <div x-data="{
      items: [
        { title: 'Title 01', body: 'Body 01' },
        { title: 'Title 02', body: 'Body 02' },
        { title: 'Title 03', body: 'Body 03' },
        { title: 'Title 04', body: 'Body 04' }
      ],
      activeItem: null,
      selectItem(item) {
        if(this.activeItem === item) {
          this.activeItem = null 
        } else {
          this.activeItem = item
        }
      }
    }">
    <template x-for="item in items">
      <div>
        <div @click="selectItem(item)"
          class="py-1 px-2 bg-gray-50 border cursor-pointer hover:text-blue-400 font-semibold flex justify-between items-center">
          <span x-text="item.title"></span>
          <i class="bi bi-chevron-up transition-all" x-bind:class="{'rotate-180': activeItem === item}"></i>
        </div>
        <div x-show="activeItem === item" x-transition x-html="item.body" class="p-2 bg-white border">
        </div>
      </div>
    </template>
  </div>

  <!-- Notification  -->
  <div x-data="{
      visible: true, 
      timeout: 5000,
      percent: 0,
      interval: null,
      close() {
        this.visible = false
        clearInterval(this.interval)
      },
      init() {
        setTimeout(() => {
          this.visible = false 
        }, this.timeout)

        const startDate = Date.now()
        const endDate = Date.now() + this.timeout

        setInterval(() => {
          const date = Date.now()
          this.percent = (date - startDate) * 100 / (endDate - startDate)
          if(this.percent >= 100) {
            clearInterval(this.interval)
          }
        }, 30)
      }
    }" x-show="visible" class="relative py-2 px-4 pb-4 bg-emerald-500 text-white">
    <div class="font-semibold mb-2">Lorem ipsum dolor sit amet.</div>
    <div class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis assumenda minus cum delectus nobis molestias
      autem exercitationem optio eaque laborum, voluptatibus consectetur et voluptatum alias amet! Omnis, quibusdam.
      Voluptatem libero voluptatibus similique beatae aperiam vel asperiores, incidunt quaerat veniam quis soluta amet.
      Eligendi vitae iste eveniet quas quos, enim nostrum sint ea illum nisi nulla ipsum laboriosam ad laborum placeat
      quod veritatis facere natus neque maiores consequatur rem perferendis voluptatem. Modi quisquam ut eligendi
      accusantium totam aspernatur tenetur, nobis deleniti sunt perferendis soluta libero. Ipsa, quibusdam nihil,
      repudiandae totam odit ad, iste distinctio maxime magnam quasi obcaecati. Delectus, quaerat sequi ipsum, quidem
      ullam voluptas labore dolorem quisquam vitae praesentium sunt ex pariatur doloremque deserunt unde exercitationem.
      Illo non officia, alias, molestias repellat reprehenderit sed sint molestiae inventore minus dignissimos? Minus
      nesciunt sunt nobis tempora mollitia atque obcaecati sapiente. Amet quos labore quod unde sequi, architecto
      accusamus recusandae tempora omnis excepturi. Ullam quos nam provident modi veniam illo dicta quibusdam aliquid
      corrupti, nulla error ea eveniet nemo, beatae praesentium. Dignissimos repudiandae ut consequuntur at cupiditate
      aspernatur adipisci labore natus optio hic commodi iusto ratione esse, provident nulla dolore corrupti porro
      quibusdam quas suscipit et? Adipisci assumenda quod et eligendi unde minima!
    </div>
    <button @click="close()"
      class="absolute flex items-center justify-center right-2 top-2 w-[30px] h-[30px] rounded-full hover:bg-black/10 transition-colors">
      <i class="bi bi-x-lg"></i>
    </button>
    <div class="absolute left-0 bottom-0 right-0 h-[6px] bg-black/10" :style="{ 'width': `${percent}%` }">
    </div>
  </div>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="app.js"></script>
</body>

</html>