<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>Alpine.js Components</title>
</head>

<body class="bg-gray-100 p-8">
  <!-- Dropdown  -->
  <div x-data="{ open: false }">
    <button @click="open = !open"
      class="inline-flex items-center py-2 px-6 bg-purple-600 hover:bg-opacity-95 text-white rounded-md shadow">
      Toggle
      <i class="bi bi-chevron-right ml-2 transition-all" x-bind:class="{'rotate-90': open}"></i>
    </button>
    <ul x-show="open" @click.outside="open = false" x-transition class="absolute bg-white w-[160px] shadow-md py-1">
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Open
        </a>
      </li>
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Edit
        </a>
      </li>
      <li>
        <a href="" class="py-1 px-2 hover:bg-gray-200 flex items-center">
          <i class="bi bi-eye-fill mr-2"></i>
          Delete
        </a>
      </li>
    </ul>
  </div>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="app.js"></script>
</body>

</html>